/*=================================
*            CONTAINER            *
=================================*/
.container {
    background: #3E92CC;
}

/* info container */
.info-container {
    display: flex;
    justify-content: center;
    opacity: 0;
    transform: translateY(-40px);
    transition: all 300ms;
}

.contact-info {
    margin: 2rem;
}
/* form */

form {
    height: 100vh;
    width: 90%;
    padding: 3rem 5rem;
}

.contact-title {
    font-size: 2rem;
    margin-bottom: .6rem;
    opacity: 0;
    transition: all 500ms;
}

form input {
    width: 100%;
    font-size: 2rem;
    background: none;
    color: #F5F3F5;
    border: none;
    border-bottom: 1px solid currentColor;
    padding: 1rem 0rem;
    margin-bottom: 2rem;
    opacity: 0;
    transform: translateY(-30px);
    transition: all 300ms;
}

form input::placeholder,
form textarea::placeholder {
    color: #2A628F;
}

form textarea {
    resize: none;
    width: 100%;
    height: 75px;
    background: none;
    color: #F5F3F5;
    border: 1px solid rgba(245, 243, 245, 0);
    border-bottom: 1px solid #F5F3F5;
    padding: 1rem 0rem;
    font-size: 2rem;
    margin-bottom: 3rem;
    opacity: 0;
    transform: translateY(-30px);
    transition: all 300ms;
}

form input:focus, 
form textarea:focus {
    outline: none;
}

form textarea:focus {
    border: 1px solid rgba(245, 243, 245, 1);
    padding: 1rem;
    height: 190px;
}
.form-button {
    background: none;
    color: #F5F3F5;
    border: 1px solid #F5F3F5;
    padding: 1rem 2rem;
    transition: all 300ms;
    font-size: 1rem;
    opacity: 0;
    transform: translateY(-30px);
}
.form-button:hover {
    background: #F5F3F5;
    color: #3E92CC;
    border: 1px solid #F5F3F5;
    padding: 1rem 2rem;
    cursor: pointer;
}

/* send modal */

.send-modal {
    position: absolute;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem 2rem;
    background: rgba(126, 255, 126, 0.5);
    margin: 1rem;
    font-size: 1.2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(30px)
}
/* social media */

#social-media-container {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%); 
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    z-index: 3;
}

.social-media-link {
    height: 50px;
    width: 50px;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, .1);
    transition: all 300ms;
    opacity: 0;
    transform: translateX(60px);
}
.social-media-link:nth-child(1) {
    background: #0077b5;
}
.social-media-link:nth-child(2) {
    background: #323232;
}
.social-media-link:nth-child(3) {
    background: linear-gradient(45deg, #9e2bac, #f2b260);
}
.social-media-link:nth-child(4) {
    background: #1da1f2;
}

.social-media-link:hover {
    transform: scale(1.1) translateX(-5px);
    /* background: red; */
}



/*==================================
*            ANIMATIONS            *
==================================*/

.appear {
    opacity: 1;
    transform: translateX(0) translateY(0);
}

/*=====================================
*            MEDIA QUERIES            *
====================---==============*/

@media (max-width: 710px) {
    form {
        width: 100%;
    }
    .contact-title{
        font-size: 1.5rem;
    }
    form input {
        font-size: 1.5rem;
    }
    form textarea {        
        font-size: 1.5rem;
    }
    #social-media-container {
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
        flex-direction: row;
        padding: 0;
    }
    .social-media-link {
        margin: 1rem;
    }

}
@media (max-width: 600px) {
    .info-container {
        flex-direction: column;
        padding: 2rem;
        align-items: flex-end;
    }
    .contact-info {
        margin: .3rem;
    }
    form {
        width: 100%;
    }
    .contact-title{
        font-size: 1.3rem;
    }
    form input {
        font-size: 1.3rem;
    }
    form textarea {        
        font-size: 1.3rem;
    }
}
@media (max-width: 425px) {
    .info-container {
        padding-bottom: 0rem;
    }
    form {
        padding: 2rem;
        width: 100%;
    }
    .contact-title{
        font-size: 1.3rem;
    }
    form input {
        font-size: 1.3rem;
    }
    form textarea {        
        font-size: 1.3rem;
    }
}
@media (max-width: 400px) {
    .social-media-link {
        height: 35px;
        width: 35px;
        font-size: 10px;
    }
}