.container {
    background: #3E92CC;
}

/* social media */

#social-media-container {
    position: absolute;
    top: 0; 
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    z-index: 3;
}

.social-media-link {
    height: 50px;
    width: 50px;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, .1);
    transition: all 300ms;
}

.social-media-link:nth-child(1) {
    background: #0077b5;
}
.social-media-link:nth-child(2) {
    background: #323232;
}
.social-media-link:nth-child(3) {
    background: linear-gradient(45deg, #9e2bac, #f2b260);
}
.social-media-link:nth-child(4) {
    background: #1da1f2;
}

.social-media-link:hover {
    transform: scale(1.1) translateX(-5px);
    /* background: red; */
}